* {
    margin: 0;
    padding: 0;
}

.NavBar {
    padding: 1rem;
    background-color: aqua;
    color: black;
    height: 10vh;
    text-align: left;
    align-items: center;
}

.Hero {
    padding: 1rem;
    background-color: blueviolet;
    color: #fff;
    font-size: 2rem;
    height: 50vh;
    text-align: center;
}

.Home {
    padding: 1rem;
    background-color: tomato;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    height: 80vh;
    text-align: center;
}

.Footer {
    margin: 0;
    padding: 1rem;
    background-color: darkgreen;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    height: 20vh;
    text-align: center;
}

.btn {
    margin: 2rem 0;
    border: 2px solid #ff7675;
    padding: 0.5rem 2rem;
    font-weight: bold;
    cursor: pointer;
}

.btnMiddle{
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btnTeste{
    position: relative;
    color: white;
    font-size: 1rem;
    font-family: "montserrat";
    text-decoration: none;
    margin: 2rem 0;
    border: 2px solid #ff7675;
    padding: 1rem 3rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: 500ms all ease;
    cursor: pointer;
}

.btnTeste::before{
    background: #ff7675;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btnTeste::before{
    width: 100%;
    height: 0%;
}

.btnTeste:hover::before{
    height: 100%;
}
